
#div1
{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-content:center
	
	
}
.bouton {
  display:flex;
  
  text-align:center;
  background-color: #fce4ec;
  padding: 2rem;
  border-radius: 1.5rem;
  
  max-width: 75%;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  color: #333;
  transition: transform 0.2s ease, background-color 0.3s ease;
  justify-content : center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a24F99;
   color: white;
	text-decoration: none;
  font-size: 2rem;
}

.bouton:hover {
  transform: scale(0.9);
  opacity: 0.6;
  transform: translate(-50%, -50%);
   background-color: #ebd3db ;
}

.bouton h2 {
	display:flex;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  width: 5.0rem;   	
	display:flex;
	
	font-family: Cooper;
	font-size: 2rem;
	text-decoration : none;
	
	
	
   transform: translate(-65%, -10%);
}


h1
{
	
	font-family: Cooper;
	font-size: 3rem;
	text-decoration : none;
	
	text-align:center;
	background-color: #a24F99;
    color: white;
	    /* rose clair */
    padding: 1rem;                 /* espace intérieur */
    border-radius: 20rem;           /* coins arrondis */
    width: 2.5rem;   	
	min-width: 5.0rem;
   
               
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 75%;
    width: 100%;
	position: absolute;
  top:1%;
  left: 12%
	
	
		
	
}



 @media (min-width: 400px) {
      
      .bouton {
    max-width: 500px;
  }

  .bouton h2 {
    font-size: 3rem;
  }

  .bouton p {
    font-size: 1.1rem;
  }
	
	  
	  }
	  

body 
{
	
	background-color: #fff7c9;
	margin: 0;
      padding: 0;
      
	
	
    
	        

}

#present
{
	
	font-family: Cooper;
	font-size: 3rem;
	text-decoration : none;
	
	text-align:center;
	background-color: #a24F99;     /* rose clair */
    padding: 1rem;                 /* espace intérieur */
    border-radius: 20rem;           /* coins arrondis */
    width: 2.5rem;   	
	min-width: 5.0rem;
   color:white;
               
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 75%;
    width: 100%;
	
  top:1%;
  left: 12%
	
}
#Content
{
	display: flex;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	dsqgbackground-color: #a24F99;
	border-radius: 20rem;
    padding: 15px;
	color: white;
	width: 2.5rem;   	
	min-width: 5.0rem;
	max-width: 75%;
    width: 100%;
	
}

.bouton_nav {
	font-family: Cooper;
	
    padding: 10px 20px;
    background-color: #a24F99;
    color: white;
	text-decoration: none;
    border-radius: 20rem;
    font-size: 1.75rem;
    transition: background-color 0.3s;
	
}
.bouton_nav:hover {
  transform: scale(0.9);
  opacity: 0.6;
  
  background-color: #ebd3db ;
}
#presentation
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#content-pst
{
	max-width: 800px;     
    margin: 0 auto;   
    padding: 50px; 
	margin: 25px;
	margin-bottom: 300px;
	display: block; 
	background-color: white; 
    font-family: 'Roboto', serif;
    color: #333;
	
	font-size: 154%;
	border-radius: 2rem;
}
#ContentContacts
{
	display: flex;
	flex-direction: column;
    align-content: center;
    align-items: center;
	
}
#titrecontacts
{
	
	font-family: Cooper;
	font-size: 3rem;
	text-decoration : none;
	
	text-align:center;
	background-color: #a24F99;     /* rose clair */
    padding: 1rem;                 /* espace intérieur */
    border-radius: 20rem;           /* coins arrondis */
    width: 2.5rem;   	
	min-width: 5.0rem;
   color:white;
               
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 75%;
    width: 100%;
	
  top:1%;
  left: 12%
}
#Content_contacts2
{
	display: flex;
	flex-direction: column;
	    align-items: center;
}
#list_contacts
{
	display: flex;
	flex-direction: row;
	
}
  .fiche
  {
	  max-width: 100%;     
    
    padding: 2rem 5rem; 
	margin: 25px;
	margin-bottom:250px;
	display: block; 
	background-color: white; 
    font-family: 'Roboto', serif;
    color: #333;
	
	font-size: 154%;
	
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  background-color: white;
	  border-radius: 2rem;
	  
	  
  }

	  
 
  .int_fiche
  {
	  
	  display: grid;
	  grid-template-columns: 100px 300px;
		grid-template-rows: auto;
		grid-column-gap: 37px;
		grid-row-gap: 20px;
		align-items: center
  }
 
.icone_contacts
{
	width: 100px;
	max-width: 100%;
	height: auto;
	filter: invert(1);
}
.Nom_Contact
{
	font-size: 2.5rem;
	font-family: Cooper;
	text-decoration: underline;
}
#fichecontact2
{
	
}


@media (max-width: 1315px) {
  #list_contacts {
    flex-direction: column;
    align-items: center;
  }

  .fiche {
    width: 100%;
    margin-bottom: 2rem;
  }

